@font-face {
  font-family: "StarBucks";
  src: url("../../../assets/fonts/StarBucks.ttf") format("truetype");
}
@font-face {
  font-family: "Addidas";
  src: url("../../../assets/fonts/Adidas-bold.otf") format("truetype");
}
@font-face {
  font-family: "LemonMilk-Regular";
  src: url("../../../assets/fonts/LEMONMILK-Regular.otf") format("truetype");
}
@font-face {
  font-family: "SanFrancisco-Light";
  src: url("../../../assets/fonts/SFNSText-Light.otf") format("truetype");
}
@font-face {
  font-family: "SanFrancisco-Bold";
  src: url("../../../assets/fonts/SFNSDisplay-Bold.otf") format("truetype");
}
* {
  user-select: none;
}
.drag-region {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  -webkit-app-region: drag;
  z-index: 1000;
  pointer-events: auto;
  background: transparent;
}
.window-buttons {
  position: fixed;
  top: 0;
  right: 0;
  height: 20px;
  padding: 7px;
  display: flex;
  -webkit-app-region: no-drag;
  z-index: 1001;
}
.window-button {
  margin-left: 6px;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.homeScreenContainer {
  width: calc(100% - 80px);
  height: 100%;
  background-color: white;
  position: absolute;
  left: 80px;
  top: 0;
}
.sidebar {
  width: 80px;
  height: 100%;
  background-color: rgb(236, 236, 236);
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 10;
  border-right: solid 1px rgb(200, 200, 200);
}
.sidebar-sendButton-container {
  margin: 18px;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.2s ease;
}
.sidebar-sendButton-container:hover {
  background-color: rgb(80, 80, 80);
}
.sidebar-settingsButton-container {
  margin: 18px;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  background-color: rgb(80, 80, 80);
}
.logo {
  width: 60px;
  height: 60px;
  align-self: center;
  margin-bottom: 50px;
  margin-top: 5px;
}
.send-icon {
  width: 30px;
  height: 30px;
  align-self: center;
  margin: 10px 5px 2px 5px;
  cursor: pointer;
}
.setting-icon {
  width: 30px;
  height: 30px;
  align-self: center;
  margin: 9px 5px 2px 7px;
  cursor: pointer;
}
.title {
  font-family: "SanFrancisco-Bold";
  font-weight: bold;
  font-size: 32px;
  color: rgb(50, 50, 50);
  margin-left: 40px;
}
.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 40px;
  height: 100px;
  width: calc(100% - 80px);
  border-radius: 25px;
  border: solid 1px rgb(200, 200, 200);
}
.user-details {
  display: flex;
  flex-direction: row;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
.profile-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 15px 15px 10px 20px;
}
.profile-title {
  font-family: "SanFrancisco-Bold";
  font-size: 20px;
  margin-top: 18px;
  color: rgb(50, 50, 50);
}
.profile-username {
  font-family: "SanFrancisco-Light";
  font-size: 16px;
  margin-top: -20px;
  color: rgb(100, 100, 100);
  user-select: text;
}
.edit-button {
  font-family: "SanFrancisco-Bold";
  font-size: 14px;
  color: rgb(80, 80, 80);
  border: solid 1px rgb(150, 150, 150);
  border-radius: 15px;
  padding: 8px 16px 8px 16px;
  margin-right: 15px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.edit-button:hover {
  background-color: rgb(80, 80, 80);
  color: white;
}
.profile-username-input {
  font-family: "SanFrancisco-Light";
  font-size: 16px;
  margin-top: -20px;
  margin-bottom: 20px;
  color: rgb(100, 100, 100);
  border: none;
  outline: none;
  border-bottom: solid 1px rgb(150, 150, 150);
}
.profile-username-input-error {
  font-family: "SanFrancisco-Light";
  font-size: 16px;
  margin-top: -20px;
  margin-bottom: 20px;
  color: rgb(100, 100, 100);
  border: none;
  outline: none;
  border-bottom: solid 1px rgb(255, 0, 0);
}
.ip-title {
  font-family: "SanFrancisco-Bold";
  font-size: 20px;
  margin-top: 18px;
  color: rgb(50, 50, 50);
}
.ip-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
