@font-face {
  font-family: "StarBucks";
  src: url("../../../assets/fonts/StarBucks.ttf") format("truetype");
}
@font-face {
  font-family: "Addidas";
  src: url("../../../assets/fonts/Adidas-bold.otf") format("truetype");
}
@font-face {
  font-family: "LemonMilk-Regular";
  src: url("../../../assets/fonts/LEMONMILK-Regular.otf") format("truetype");
}
@font-face {
  font-family: "SanFrancisco-Light";
  src: url("../../../assets/fonts/SFNSText-Light.otf") format("truetype");
}
@font-face {
  font-family: "SanFrancisco-Bold";
  src: url("../../../assets/fonts/SFNSDisplay-Bold.otf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.homeScreenContainer {
  width: calc(100% - 80px);
  height: 100%;
  background-color: white;
  position: absolute;
  left: 80px;
  top: 0;
}
.sidebar {
  width: 80px;
  height: 100%;
  background-color: rgb(236, 236, 236);
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 10;
  border-right: solid 1px rgb(200, 200, 200);
}
.sidebar-sendButton-container {
  margin: 18px;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  background-color: rgb(80, 80, 80);
}
.sidebar-settingsButton-container {
  margin: 18px;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.2s ease;
}
.sidebar-settingsButton-container:hover {
  background-color: rgb(80, 80, 80);
}
.logo {
  width: 60px;
  height: 60px;
  align-self: center;
  margin-bottom: 50px;
  margin-top: 5px;
}
.send-icon {
  width: 30px;
  height: 30px;
  align-self: center;
  margin: 10px 5px 2px 5px;
  cursor: pointer;
}
.setting-icon {
  width: 30px;
  height: 30px;
  align-self: center;
  margin: 9px 5px 2px 7px;
  cursor: pointer;
}
.title {
  font-family: "SanFrancisco-Bold";
  font-weight: bold;
  font-size: 30px;
  color: rgb(50, 50, 50);
  margin-left: 40px;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  margin-left: 40px;
  gap: 20px;
}
.card {
  width: 300px;
  height: 130px;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(200, 200, 200);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card:hover {
  transform: translateY(-5px);
  background-color: rgb(29, 29, 29);
}
.card:active {
  transform: translateY(7px);
  transition: 100ms;
}
.cardIcon {
  width: 50px;
  height: 50px;
  margin: 20px;
}
.cardTitle {
  font-family: "SanFrancisco-Light";
  font-size: 20px;
  color: rgb(2, 2, 2);
  text-align: start;
  margin: 0 20px 20px 20px;
}
.recent-items-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
  margin-left: 40px;
}
.radio {
  flex: 1 1 auto;
  text-align: center;
}
input {
  display: none;
}
.name {
  font-family: "SanFrancisco-Light";
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}
input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}
