@font-face {
  font-family: "StarBucks";
  src: url("../../../assets/fonts/StarBucks.ttf") format("truetype");
}
@font-face {
  font-family: "Addidas";
  src: url("../../../assets/fonts/Adidas-bold.otf") format("truetype");
}
@font-face {
  font-family: "LemonMilk-Regular";
  src: url("../../../assets/fonts/LEMONMILK-Regular.otf") format("truetype");
}
@font-face {
  font-family: "SanFrancisco-Light";
  src: url("../../../assets/fonts/SFNSText-Light.otf") format("truetype");
}
@font-face {
  font-family: "SanFrancisco-Bold";
  src: url("../../../assets/fonts/SFNSDisplay-Bold.otf") format("truetype");
}
* {
  user-select: none;
}
.drag-region {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  -webkit-app-region: drag;
  z-index: 1000;
  pointer-events: auto;
  background: transparent;
}
.window-buttons {
  position: fixed;
  top: 0;
  right: 0;
  height: 20px;
  padding: 7px;
  display: flex;
  -webkit-app-region: no-drag;
  z-index: 1001;
}
.window-button {
  margin-left: 6px;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.homeScreenContainer {
  width: calc(100% - 80px);
  height: 100%;
  background-color: white;
  position: absolute;
  left: 80px;
  top: 0;
}
.sidebar {
  width: 80px;
  height: 100%;
  background-color: rgb(236, 236, 236);
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 10;
  border-right: solid 1px rgb(200, 200, 200);
}
.sidebar-sendButton-container {
  margin: 18px;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  background-color: rgb(80, 80, 80);
}
.sidebar-settingsButton-container {
  margin: 18px;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.2s ease;
}
.sidebar-settingsButton-container:hover {
  background-color: rgb(80, 80, 80);
}
.logo {
  width: 60px;
  height: 60px;
  align-self: center;
  margin-bottom: 50px;
  margin-top: 5px;
}
.send-icon {
  width: 30px;
  height: 30px;
  align-self: center;
  margin: 10px 5px 2px 5px;
  cursor: pointer;
}
.setting-icon {
  width: 30px;
  height: 30px;
  align-self: center;
  margin: 9px 5px 2px 7px;
  cursor: pointer;
}
.title {
  font-family: "SanFrancisco-Bold";
  font-weight: bold;
  font-size: 30px;
  color: rgb(50, 50, 50);
  margin-left: 40px;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  margin-left: 40px;
  gap: 20px;
}
.card {
  width: 300px;
  height: 130px;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(200, 200, 200);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card:hover {
  transform: translateY(-5px);
  background-color: rgb(29, 29, 29);
}
.card:active {
  transform: translateY(7px);
  transition: 100ms;
}
.cardIcon {
  width: 50px;
  height: 50px;
  margin: 20px;
}
.cardTitle {
  font-family: "SanFrancisco-Light";
  font-size: 20px;
  color: rgb(2, 2, 2);
  text-align: start;
  margin: 0 20px 20px 20px;
}
.query-items-container {
  width: calc(100% - 80px);
  height: calc(100vh - 310px);
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  border: solid 1px rgb(200, 200, 200);
  border-radius: 12px;
}
.no-data-img {
  width: 250px;
  height: 250px;
}
.no-data-text {
  font-family: "SanFrancisco-Light";
  font-size: 18px;
  margin-top: -35px;
  color: rgb(150, 150, 150);
}
.query-item {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: solid 1px rgb(200, 200, 200);
  border-radius: 12px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.query-item-title {
  display: flex;
  flex-direction: row;
}
.query-item-text {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.queryCardIcon {
  width: 40px;
  height: 40px;
  margin: 20px;
}
.queryTitle {
  font-family: "SanFrancisco-Bold";
  font-size: 19px;
}
.queryText {
  font-family: "SanFrancisco-Light";
  font-size: 15px;
  margin-top: -14px;
}
.progressBar {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: -10px;
}
